
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>Register</h1>
<h2>練習時，請注意username, password rules</h2>
<form action="/Home/Register">
        user name:<input type="text" name="username" value=""/>
        <br/>
        email : <input type="text" name="email" value=""/>
        <br/>
        password: <input type="text" name="password" value=""/>
        <br/>
        <button type="submit">Register</button>
    </form>
